html {
    background-color: rosybrown;
    font-family: 'Share Tech Mono', monospace;
    padding: 20px;
}
#start-btn {
    font-family: 'Share Tech Mono', monospace;
    border-radius: 6px;
    padding: 5px 12px;
    align-content: center;
    border-color: cyan;
    background-color: plum;
    
}
#Intro {
    background-color: blueviolet;
    height: fit-content;
    width: fit-content;
    margin-top: 300px;
    margin-left: 600px;
    border-radius: 4px;
}
#Container {
    background-color: #be168c ;
    height: fit-content;
    width: fit-content;
}
#submit-btn {
    font-family: 'Share Tech Mono', monospace;
    border-radius: 6px;
    padding: 5px 12px;
}
#start {
    font-size: 24px;
}
.Question {
    padding: 10px 20px;
}